
[Unit]
Description=Program to update SASMEX RSS feed

[Service]
Restart=on-failure
# Update user accordingly
User=daniel
# Update following paths
Environment="CONFIG=prod"
WorkingDirectory=/home/daniel/PycharmProjects/RSS/src

# Update paths accordingly as well as args
ExecStart=/home/daniel/PycharmProjects/RSS/venv/bin/python \
    /home/daniel/PycharmProjects/RSS/src/rss/main.py

[Install]
WantedBy=multi-user.target
