name: Build and Test

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: docker compose build

      - name: Run API unit tests
        run: docker compose run --rm --no-deps --entrypoint=pytest rss-api /tests/unit

      - name: Run CAP Generator unit tests
        run: docker compose run --rm --no-deps --entrypoint=pytest cap-generator /tests/unit

      - name: Run client unit tests
        run: docker compose run --rm rss-client npm run test
